.Clock {
  font-family: "Clock";
  font-size: 14rem;
  color: rgb(71, 71, 71);
  transition: all 300ms;
  width: 480px;
  display: flex;
  justify-content: start;
}
.partClock {
  display: flex;
  width: 220px;
  justify-content: space-between;
}