.Header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-box);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 var(--boxShadow-box);
  font-family: 'Poppins', sans-serif;
  padding: 0 max(30px, 4%);
  position: sticky;
  top: 0;
  z-index: 100;
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.logoHeader {
  width: 50px;
  margin: 10px;

}

.titleHeader {
  font-size: 1.6rem;
  color: var(--fontColor-solid);
}

.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btnSettingsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  filter: invert(20%);
  transition: filter 120ms;
}

.btnSettingsHeader:hover {
  filter: invert(50%);
}

.icoSettingsHeader {
  width: 30px;
  margin: 5px;
}

.btnLoginHeader {
  border: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: orange;
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  transition: all 100ms;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-weight: bold;
}

.btnLoginHeader:hover {
  background-color: rgb(236, 154, 0);
}

.boxNormalModal {
  position: absolute;
  width: 0;
  height: 0;
}

.boxShadowModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  top: 0;
  right: 0;
}

.icoGoogle {
  width: 35px;
  filter:grayscale(1);
  filter:brightness(6);
}
.userPhoto {
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(189, 189, 189);
  margin: 3px;
}
.userBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  color: var(--fontColor-solid);
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  .titleHeader {
    font-size: 1rem;
    max-width: 100px;
    line-height: 1.2rem;
  }
  .logoHeader {
    width: 36px;
  }
  .Header {
    padding: 2px 8px;
  }
  .btnLoginHeader {
    padding: 5px;
  }
  .loginBtn {
    display: none;
  }
  .icoGoogle {
    width: 30px;
  }
  .icoSettingsHeader {
    width: 27px;
  }
  .leftHeader {
    gap: 10px;
  }
  .userNameHeader {
    display: none;
  }
  .userPhoto{
    width: 40px;
  }
}