.Clock {
  font-family: "Clock";
  font-size: 10rem;
  color: var( --fontColor-solid);
  transition: all 300ms;
  display: flex;
  justify-content: start;
}
.partClock {
  display: flex;
  width: 150px;
  justify-content: space-between;
}