.Average {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 49px;
  left: 40px;
  font-size: 1.1rem;
  color: var(--fontColor-solid);
  height: 150px;
  width: 150px;
  background-color: var(--background-box);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 var(--boxShadow-box);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boxAverage {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
