.Reloj {
  font-family: "Clock";
  font-size: 10rem;
  color: var( --fontColor-solid);
  transition: all 300ms;
  display: flex;
  justify-content: start;
}
.pressReloj {
  color: #e90000;;
}

@media (max-width: 1200px) {
  .Reloj {
    font-size: 6rem;
  }
}