.SingleTime {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.numSingleTime {
  font-weight: bold;
}

.timeSingleTime {
  font-size: 1.1rem;
  font-weight: bold;
}
.scrambleSingleTime {
  margin-left: 20px;
  color: rgb(102, 102, 102);
}