.SingleTime {
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numSingleTime {
  font-weight: bold;
}

.timeSingleTime {
  font-size: 1.1rem;
  font-weight: bold;
}
.scrambleSingleTime {
  margin-left: 20px;
  color: var(--fontColor-paste);;
}

.rigthTime {
  display: flex;
  gap: 20px;
  color: var(--fontColor-paste);
  margin-left: 40px;
}

.leftTime {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  margin-right: 40px;
}

.btnTime{
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 300ms;
  height: 30px;

  font-size: 1.03rem;
  color: var(--fontColor-solid);
  height: 43px;
  width: 43px;
}

.icoBtnTime {
  width: 30px;
  filter: invert(0.3);
}

.btnTime:hover {
  background-color: var(--hoverColor);
}

.btnMoreTwo {
  padding-left: 10px;
}

.dnfStyles { 
  filter: opacity(0.5);
}

.btnOn {
  font-weight:800;
  color: var(--fontColor-select);
}

@media (max-width: 1200px) {
  .scrambleSingleTime{
    font-size: 1rem;
  }
  .SingleTime {
    font-size: 1rem;
    margin-left: 25px;
  }
  .timeSingleTime{
    font-size: 1rem;
  }
  .btnTime {
    font-size: 0.95rem;
  }
  .icoBtnTime{
    width: 26px;
  }
  .leftTime{
    width: 110px;
    margin-right: 30px;
  }
  .rigthTime {
    margin-left: 0px;
  }
}

@media (max-width: 800px) {
  .scrambleSingleTime{
    display: none;
  }
}