.SingleTime {
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numSingleTime {
  font-weight: bold;
}

.timeSingleTime {
  font-size: 1.1rem;
  font-weight: bold;
}
.scrambleSingleTime {
  margin-left: 20px;
  color: rgb(66, 66, 66);
}

.rigthTime {
  display: flex;
  gap: 20px;
}

.leftTime {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 170px;
  justify-content: space-between;
}

.btnTime{
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 300ms;
  height: 40px;
  font-size: 1.03rem;
  color: rgb(83, 83, 83);
}

.icoBtnTime {
  width: 30px;
  filter: invert(0.3);
}

.btnTime:hover {
  background-color: rgb(240, 240, 240);

}

.btnMoreTwo {
  padding-left: 10px;
}

.dnfStyles { 
  filter: opacity(0.5);
}

.btnOn {
  font-weight:800;
  color: rgb(105, 0, 0);
}