.NavMobile {
  display: none;
}

.navLink {
  color: #231815;
}

.NavMobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  height: 100vh;
  top: 0;
  margin: 0;
  right: 0;
  width: 0;
  transition: all 200ms;
  font-size: 2rem;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  color: rgb(66, 66, 66);
}

.NavMobileView {
  width: min(400px, 100vw);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}
  
.btnExit {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  transition: all 150ms;
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px
}

.btnExit:hover {
  background-color: rgb(245, 245, 245);
}

.imgCloseIco {
  transition: filter 150ms;
  width: 32px;
}

.imgCloseIco:hover {
  filter: invert(0.4);
}

li {
  list-style: none;
}

.boxSettings {
  height: 70%;

  width: 85%;
}

.optionsTheme, .optionsCube{
  display: flex;
  flex-direction: column;
  font-family: 'GoogleSansLigth';
  font-size: 1.7rem;
  margin-left: 20px;
  gap: 10px;
}

label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px
}
