.NavMobile {
  display: none;
}

.navLink {
  color: #231815;
}

.NavMobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-box);
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  height: 90vh;
  top: calc(50% );
  margin: 0;
  right: 30px;
  width: 0;
  transition: all 150ms;
  font-size: 2rem;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  color: var(--fontColor-solid);
  border-radius: 30px;
}

.NavMobileView {
  width: min(370px, 100vw);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 var(--boxShadow-box);
}
  
.btnExit {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  transition: all 150ms;
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 0;
  height: 42px;
  width: 42px;
}

.btnExit:hover {
  background-color: var(--hoverColor);
}

.imgCloseIco {
  transition: filter 150ms;
  width: 32px;
  margin: 5px ;
}

.imgCloseIco:hover {
  filter: invert(0.4);
}

li {
  list-style: none;
}

.boxSettings {
  height: 70%;
  overflow: hidden;
  width: 85%;
}

.optionsTheme, .optionsCube{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-left: 20px;
  gap: 15px;
  margin-top: 10px;
  overflow: hidden;
}

label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

input[type=radio]{
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
input[type=radio]:checked{
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
}
input[type=radio]:checked::after{
  content: '';
  height: 15px;
  width: 15px;
  background-color: rgb(158, 158, 158);
  position: absolute;
  border-radius: 50%;
  right: 3px;
  bottom: 3px;
}

.btnLogOut {
  border: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: orange;
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  transition: all 100ms;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  margin: 40px auto;
  font-weight: bold;
}