.Times {
  background-color: var(--background-box);
  width: min(1000px, 90vw);
  margin: 150px 0 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 var(--boxShadow-box);
  min-height: 150px;
}

.headerTimes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var( --fontColor-solid);
  text-decoration: underline;
  padding: 0 2%;
}

.icoBtnRemove{
  width: 30px;
  transition: all 200ms;
}

.icoBtnRemove:hover {
  filter: invert(50%);
}

.btnRemoveTimes {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.noHayDatos{
  color: var( --fontColor-paste);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 1200px) {
  .Times {
    width: 87vw;
    padding: 10px;
    margin: 30px 0;

  }
  .headerTimes{
    font-size: 1.3rem;
    text-decoration: none;
  }
}