body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
.App {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: min(1200px, 90vw);
  padding: 30px;
  align-items: center;
}

.instruccionesApp {
  font-family: 'GoogleSansLigth';
  color: #5f5f5f;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin-top: -20px;
}