body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-body);
}
.App {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: min(1200px, 90vw);
  padding: 30px;
  align-items: center;
}

.instruccionesApp {
  font-family: 'Poppins', sans-serif; /* thin */
  color: var(--fontColor-paste);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  margin-top: -20px;
}

.bodyTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Scramble {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: var(--fontColor-paste);
  padding: 20px;
  letter-spacing: 0.2rem;
  z-index: 44;
}


#body {
  background-color: var(--background-body);
}