/*@font-face{
  font-family: "GoogleSans";
  src: url("/src/fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "GoogleSansBold";
  src: url("/src/fonts/ProductSans-Bold.ttf");
}

@font-face {
  font-family: "GoogleSansLigth";
  src: url("/src/fonts/ProductSans-Light.ttf");
}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Clock';
  src: url('/src/fonts/DS-DIGI.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root {
  --background-body-light: #f1f1f1;
  --background-box-light: white;
  --boxShadow-box-light: #dadce0;
  --fontColor-paste-light: #434343;
  --fontColor-solid-light: #353535;
  --fontColor-select-light: #690000;
  --hoverColor-ligth:#F0F0F0;
  
  /* Colors for theme darck */
  --background-box-darck: #202124;
  --background-body-darck: #303134;
  --boxShadow-box-darck: #191a1b;
  --fontColor-paste-darck: #babfc4;
  --fontColor-solid-darck: #cacaca;
  --fontColor-select-darck: #8ab4f8;
  --hoverColor-darck: #383838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: var(--background-body-darck);
    --background-box: var(--background-box-darck);
    --boxShadow-box: var(--boxShadow-box-darck);
    --fontColor-paste: var(--fontColor-paste-darck);
    --fontColor-solid: var(--fontColor-solid-darck);
    --fontColor-select: var(--fontColor-select-darck);
    --hoverColor: var(--hoverColor-darck);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-body: var(--background-body-light);
    --background-box: var(--background-box-light);
    --boxShadow-box: var(--boxShadow-box-light);
    --fontColor-paste: var(--fontColor-paste-light);
    --fontColor-solid: var(--fontColor-solid-light);
    --fontColor-select: var(--fontColor-select-light);
    --hoverColor: var(--hoverColor-ligth);
  }
}

* {
  transition: color 300ms;
  transition: background 120ms;
}

body {
  padding: 0;
  margin: 0;
}

#body[data-theme='dark'] {
  --background-body: var(--background-body-darck);
  --background-box: var(--background-box-darck);
  --boxShadow-box: var(--boxShadow-box-darck);
  --fontColor-paste: var(--fontColor-paste-darck);
  --fontColor-solid: var(--fontColor-solid-darck);
  --fontColor-select: var(--fontColor-select-darck);
  --hoverColor: var(--hoverColor-darck);
}

#body[data-theme='light'] {
  --background-body: var(--background-body-light);
  --background-box: var(--background-box-light);
  --boxShadow-box: var(--boxShadow-box-light);
  --fontColor-paste: var(--fontColor-paste-light);
  --fontColor-solid: var(--fontColor-solid-light);
  --fontColor-select: var(--fontColor-select-light);
  --hoverColor: var(--hoverColor-ligth);
}

.pointer:hover {
  cursor: pointer;
}