@font-face{
  font-family: "GoogleSans";
  src: url("/src/fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "GoogleSansBold";
  src: url("/src/fonts/ProductSans-Bold.ttf");
}

@font-face {
  font-family: "GoogleSansLigth";
  src: url("/src/fonts/ProductSans-Light.ttf");
}

@font-face {
  font-family: 'Clock';
  src: url('/src/fonts/DS-DIGI.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}


body {
  padding: 0;
  margin: 0;
}

.pointer:hover {
  cursor: pointer;
}